body {
  overflow: hidden;
  margin: 0;
  background-color: lighten(#405273,10%);
}
.header {
  display: block;
  padding: 0.7rem 3rem;
  margin-bottom: 1rem;
  width: 100%;
  color: #fff;
  background: #405273;
  h1 {
    font-size: 36px;
  }
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
p {
  text-align: center;
  font-size: 40px;
}
.control-block {
  text-align: center;
  button {
    margin-right: 10px;
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    background-color: #994241;
    outline: none;
    transition: background-color .5s;
    &:hover {
      background-color: darken(#994241, 10%);
    }
    &:active {
      color: #000;
    }
    &:disabled {
      background-color: #ccc;
      cursor: no-drop;
    }
  }
}

